[Desktop Entry]
Version=1.0
Type=Application
Name=Ncmpcpp
Comment=NCurses Music Player Client (Plus Plus)
#Exec=tmux new-session -s Music "tmux source-file ~/.config/ncmpcpp/tmux_session"
Exec=/home/barbaross/.config/ncmpcpp/launch.sh
Icon=Ncmpcpp
Terminal=true
StartupNotify=false
Categories=Application;Multimedia;
