[Desktop Entry]
Version=1.0
Type=Application
Name=Ncmpcpp
Comment=NCurses Music Player Daemon Client
Exec=tmux new-session -s Music "tmux source-file ~/.config/ncmpcpp/tmux_session"
Icon=Ncmpcpp
Terminal=true
StartupNotify=false
Categories=Application;Multimedia;
