[Desktop Entry]
Version=1.0
Type=Application
Name=Phetch
Comment=Gopher Client Browser
Exec=phetch
Icon=Phetch
Terminal=true
StartupNotify=false
Categories=Application;
